# Auto generated backups #
*~

# Some gwt speicial folders #
.project
.classpath
.settings
.gwt
metadata/
gwt-unitCache/
war/WEB-INF/
src/META-INF/
src/log4j.properties
war/SwissMuseumParcours/*cache.*
war/SwissMuseumParcours/hosted.html
war/SwissMuseumParcours/junit-standards.html
war/SwissMuseumParcours/junit.html
war/SwissMuseumParcours/.junit_symbolMaps/
