/*
 * Copyright 2012 Sebastien Zurfluh
 * 
 * This file is part of "Parcours".
 * 
 * "Parcours" is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 * 
 * "Parcours" is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 * 
 *  You should have received a copy of the GNU General Public License
 *  along with "Parcours".  If not, see <http://www.gnu.org/licenses/>.
 */


/******************************************************************************/


/********************** GENERAL ***********************************************/

@font-face {
	font-family: titleFont;
	src: url('resources/fonts/scriptbl.ttf');
}

body {
	font-size: 16px; /* no px elsewhere */
	font-family: sans-serif;
}

table {
	border-collapse: separate;
	border-spacing: 0;
}

div {
	display: inline-block;
}

.simplePage {
}

.alignChildrenRight {
    align: right !important;
}

.browseView {
	width: 100%;
	height: 100%;
	overflow: auto;
	overflow-x: hidden;
	
}

.mainPanel {
	width: 600px;
	height: 30000px;
}

.animatedPanelView {
	width: 37.5em;
}

.header {
	width: 37.5em;
	-moz-box-shadow:    0px 3px 5px 0px #ccc;
  	-webkit-box-shadow: 0px 3px 5px 0px #ccc;
  	box-shadow:         0px 3px 5px 0px #ccc;
  	margin-bottom:		1em;
}

.returnToTop {
	position: fixed;
	bottom: 0;
	right: 1em;
	
	z-index: 150;
	
	border: 2px solid #606060;
	color: white;
	background: rgb(140, 140, 140);
	background: rgba(160, 160, 160, 0.6);
	padding: 0.5em;
	margin: 0.5em 0.2em;
	
	font-weight:bold;
	font-size: 1em;
	
	cursor: pointer;
	
	outline: none;
	
	-moz-border-radius: 1em;
	-webkit-border-radius: 1em;
	border-radius: 1em;
	-khtml-border-radius: 1em;
}

.returnToTop:hover {
	-moz-box-shadow:    inset 0px 0px 15px 2px #aaa, 0px 0px 15px 2px #aaa;
  	-webkit-box-shadow: inset 0px 0px 15px 2px #aaa, 0px 0px 15px 2px #aaa;
 	box-shadow:       	inset 0px 0px 15px 2px #aaa, 0px 0px 15px 2px #aaa;
}

/********************** MENUS **************************************************/

				

/********************** MENUS - NAVIGATION *************************************/
.navigationItem {
	float: left;
}

.navigationItem-image {
	/* CSS3 not working yet */
	object-fit: cover;
	margin: 0.1em;
	padding: 0em;
	border: 0em;
	float: left;
	background-color: #606060;
	-moz-box-shadow:    0px 0px 0px 6px #ccc;
  	-webkit-box-shadow: 0px 0px 0px 6px #ccc;
 	box-shadow:       	0px 0px 0px 6px #ccc;
}

.navigationSlider-movingContainer {
	position: absolute;
	width: auto;
	height: auto;
}

.navigationSlider-fixedContainer {
	width: 100%;
}

.navigationSlider {
	width: 100%;
	height: 200px;
	display: inline-block;
	overflow: hidden;
	cursor: pointer;
	background-image: url('resources/images/generic_tiles/super_ruler.jpg');
	background-repeat: no-repeat;
	background-position: center;
}
.navigationSlider-button-text {
	font-size: 1em;
	margin: 0em;
	padding: 0em;
	color: white;
	text-shadow: black 0em 0em 0.3em;
}
.navigationSlider-button-inner {
	margin: 0em;
	padding: 0.1em;
	background-color: #121212;
	border-radius: 0.5em;
}
.navigationSlider-button-outer {
	margin: 0em;
	padding: 0.1em;
	border-radius: 0.5em;
	/* Fallback for web browsers that doesn't support RGBa */
	background: rgb(156, 156, 156);
	/* RGBa with 0.6 opacity */
	background: rgba(156, 156, 156, 0.6);
	-moz-box-shadow:    0px 0px 0px 6px #ccc;
  	-webkit-box-shadow: 0px 0px 0px 6px #ccc;
 	 box-shadow:        0px 0px 0px 6px #ccc;
}
.navigationWidget {
	width: 100%;
	height: 200px;
}



/********************** MENUS - HIERARCHY **************************************/

.hierarchyWidget {
	
}
.hierarchyWidget-separator {
	display: inline;
}

/********************** MENUS - TILE ******************************************/

.tile {
	display: inline;
	float: left;
	cursor: pointer;
}
.tile-iconOnly {
	display: inline;
	float: left;
	cursor: pointer;
}
.tile-detailed {
	display: inline;
	float: none;
	cursor: pointer;
}
/*
 * This is supposed to be a special decoration only visible when the mouse-clicking the tile.
 */
.tile-iconOnly-mouseDown, .tile-detailed-mouseDown {
	border: 1em solid red;
}
.tile-tileImage {
	width: 4em;
	height: 4em;
	margin: 1em 0em 0em 1em;
	padding: 0em;
	border: 0em;
	background-color: grey;
}
.tile-tileImage-focus {
	width: 4em;
	height: 4em;
	margin: 1em 0em 0em 1em;
	padding: 0em;
	border: 0.1em solid red;
	background-color: grey;
}
.tile-tileDetails {
	margin: 1em;
	padding: 0em;
	border: 0em;
	background-color: white;
}
.tile-tileTitle {
	font-size: 2em;
	margin: 0em;
	padding: 0em;
	border: 0em;
	font-family: monospace;
	color: #110000;
}
.tile-tileDescription {
	margin: 0em;
	padding: 0em;
	border: 0em;
}
.tileMenu {
	font-size: 1em;
	width: 100%;
	padding-bottom: 0.5em;
}
.tileMenu-title {
	font-size: 2em;
    font-family: monospace;
    color: #110000;
}
.tileWidget {
	font-size: 1em;
	width: 100%;
}

.tileMenu-detailButton {
	margin: 0em 0.5em 0em 0.5em;
}
.tileMenu-tileList {
}

/********************** WIDGET - FOOTER *************************************/
.footerWidget {
	font-size: 0.8em;
	font-family: courier;
	color: #303030;
}

.footerWidget-big {
	font-size: 2em;
	font-family: courier;
	font-weight: bold;
	position: fixed;
	bottom: 0;
	color: white;
	background-color: #686868;
}

/********************** WIDGET - TEXT LINK **********************************/
.textLink {
	color: light-blue;
	style: underlined;
	cursor: pointer;
	display: inline;
}

/********************** WIDGET - PAGE ***************************************/

.pageWidget {
	padding: 1em 0em 1em 0em;
	margin: 0;
	width: 100%;
}
.pageWidget-title {
	font-size: 3em;
    font-family: titleFont;
    /* color: #FFFFFF; */
    color: #303030;
    overflow: visible;
    width: 100%;
}

/* Image placed between the body and the header/title sections */
.pageWidget-title-image {
	height: 1em;
	width: 100%;
	overflow: visible;
	top: -0.5em;
}

.pageWidget-spanTitle {
	/* background-color: #8CD9A7 */
}
.pageWidget-header {
	font-size: 2em;
	font-family: titleFont;
	color: #606060;
	width: 90%;
	padding: 2em;
	background-image: url('resources/images/fioritures/line.jpg');
	background-repeat: no-repeat;
}
.pageWidget-content {
	margin: 0.3em 0em;
	font-size: 1em;
    font-family: verdana;
    color: #000000;
    white-space: pre-line;
}

.pageWidget-resource-container {
	float: left;
	font-family: sans-serif;
	border: 1px solid black;
	margin: 1em 0em 1em 1em;
	text-align: left;
	width: 10em;
}
.pageWidget-resource-title {
	padding: 0.2em;
	width: 10em;
	font-family: titleFont;
}
.pageWidget-resource-details {
	font-style: italic;
	padding: 0.2em;
	width: 10em;
	font-size: 0.8em;
}
.pageWidget-resource-image {
	text-align: right;
	width: 10em;
	cursor: pointer;
}
.pageWidget-resource-video {
	text-align: center;
	max-width: 20em;
}

.resourceGallery-image {
	max-width: 100%;
}

.resourceGallery-image-title {
	color: white;
	
	padding: 0 0.5em;
	width: 10em;
	font-family: titleFont;
}

.resourceGallery-image-details {
	color: white;
	
	width: 90%;
	
	font-style: italic;
	padding: 1em;
	width: 10em;
	font-size: 0.8em;
}

.resourceGallery {
	background: #606060;
	
	/* zoom a bit the entire panel */
	font-size: 2em;
	
	padding: 0;
	margin: 0;
	
	width: 90%;
	
	-moz-border-radius: 1em;
	-webkit-border-radius: 1em;
	border-radius: 1em; /* future proofing */
	-khtml-border-radius: 1em; 
}

/********************** CMS    -           **********************************/
.cms-View {
	width: 100%;
}
.cms-mainPanel {
	width: 100%;
}

.cms-editorWidget {
	width: 100%;
}

.cms-treeWidget {
	width: 10em;
}

.cms-tabPanel{
	margin: 2em 0;
	width: 100%;
}

.cms-tileMenu-title {
	margin: 0.5em;
	font-size: 2em;
    font-family: monospace;
    color: #110000;
    border-bottom: 0.2em solid #303030;
}

.cms-logo {
	width: 7em;
}

.multiEditPanel {
	width: 95%;

	margin: 1em 1em 3em 1em;
	padding: 1em;
	
	-moz-box-shadow:    inset 0 0 10px #000000;
	-webkit-box-shadow: inset 0 0 10px #000000;
	box-shadow:         inset 0 0 10px #000000;
}

.gwt-TabBar {
	width: 0%;
}
.gwt-TabBarFirst-wrapper .gwt-TabBarFirst .gwt-TabBarRest-wrapper .gwt-TabBarRest {
	width: 30px;
}

.gwt-DecoratedTabBar {
	border-bottom: 0.2em solid #303030;
	
	margin: 0;
	padding: 0;
	
	overflow: hidden;
	
	font-weight: bold;
}

.gwt-TabPanelBottom {
	border: 0;
	
	padding: 0.5em;
}
.gwt-TabBarItem-wrapper {
	background-color: white;
	color: #303030;
	
	cursor: pointer;
	
	padding: 0.5em 0.5em 0.3em 0.5em;
	
	
	font-weight: bold;
	-moz-border-radius: 1em 1em 0 0;
	-webkit-border-radius: 1em 1em 0 0;
	border-radius: 0.5em 0.5em 0 0; /* future proofing */
	-khtml-border-radius: 1em 1em 0 0; /* for old Konqueror browsers */
}

.gwt-TabBarItem-wrapper-selected {
	background-color: #686868;
	color: white;
}

.gwt-TextBox, .gwt-TextArea {
	width: 90%;
	
	padding: 1em;
    margin: 0 0 0.8em 0;
    
    float: right;
	
	border: 1px solid white; 
	
    -webkit-box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1); 
    -moz-box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1); 
    box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1); 
    
    background: rgba(245,245,245,0.5);
}

.cms-textboxLabel {
	padding: 1em;
}

.cms-toolbar {
	float: left;
}

.cms-toolbar-button {
	float : right;
	margin: 0 0.5em;
}

/* the glass background behind the popup */ 
.gwt-PopupPanelGlass {
	background: rgba(160,160,160,0.5);
}

/* the outside of the popup */
.gwt-PopupPanel {
	background: #606060;
	
	padding: 0.5em;
	
	width: 90%;
	
	-moz-border-radius: 1em;
	-webkit-border-radius: 1em;
	border-radius: 1em; /* future proofing */
	-khtml-border-radius: 1em; /* for old Konqueror browsers */
}
    
/* the wrapper around the content */
.gwt-PopupPanel .popupContent {
	margin: 0.2em;
}

/* controls over the page editor's content field */
.cms-pageEditor-controls {
	padding: 0.2em;
	cursor: pointer;
}

.gwt-MenuBar {
	/* properties applying to the menu bar itself */
	background: #606060;
	
	padding: 0em;
	overflow: hidden;
	
	-moz-border-radius: 0.2em 1em 1em 1em;
	-webkit-border-radius: 0.2em 1em 1em 1em;
	border-radius: 0.2em 1em 1em 1em; /* future proofing */
	-khtml-border-radius: 0.2em 1em 1em 1em; /* for old Konqueror browsers */
}

.gwt-MenuBar .gwt-MenuItem {
	/* properties applying to the menu bar's menu items */
	background: #606060;
	cursor: pointer;
	
	color: white;
	
	margin: 0.5em;
	padding: 1em;
}

.gwt-MenuBar .gwt-MenuItem-selected {
	/* properties applying to the menu bar's selected menu items */
	background: #303030;
	
	-webkit-box-shadow:	inset 0 0 8px  rgba(0,0,0,0.8); 
    -moz-box-shadow:	inset 0 0 8px  rgba(0,0,0,0.8); 
    box-shadow:			inset 0 0 8px  rgba(0,0,0,0.8); 
}

.menuPopupTop {
	/* top of the menu's pop up panel */
	background-image: url("resources/images/fioritures/triangle.png");
	background-position: left;
	background-repeat: no-repeat;
	height: 0.8em;
}

.resourcePicker-button {
	border: 2px solid white;
	color: white;
	background-color: transparent;
	padding: 0.5em;
	margin: 0.5em 0.2em;
	
	font-weight:bold;
	font-size: 1em;
	
	cursor: pointer;
	
	outline: none;
	
	float: right;
	
	-moz-border-radius: 1em;
	-webkit-border-radius: 1em;
	border-radius: 1em;
	-khtml-border-radius: 1em; 
}

.resourcePicker-button:hover {
	-webkit-box-shadow: 0 0 8px rgba(255, 255, 255, 0.8), inset 0 0 8px rgba(255, 255, 255, 0.8);
	-moz-box-shadow: 0 0 8px rgba(255, 255, 255, 0.8), inset 0 0 8px rgba(255,255,255,0.8);
	box-shadow: 0 0 8px rgba(255, 255, 255, 0.8), inset 0 0 8px rgba(255, 255, 255, 0.8); 
}

.resourcePicker-title {
	color: white;
	font-weight: bold;
	font-size: 1em;
	margin: 0.2em;
}

.resourcePicker-body {
	margin: 0.2em;
	padding: 0.1em;
	
	overflow-y: scroll;
	border: 1px dashed white;
}

.cms-resourceCreator-resourceEditor {
	margin: 0.2em;
	color: white;
	width: 90%;
}
