/*
 * Copyright 2012 Sebastien Zurfluh
 * 
 * This file is part of "Parcours".
 * 
 * "Parcours" is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 * 
 * "Parcours" is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 * 
 *  You should have received a copy of the GNU General Public License
 *  along with "Parcours".  If not, see <http://www.gnu.org/licenses/>.
 */


/******************************************************************************/


/********************** GENERAL ***********************************************/

body {
	font-size: 16px; /* no px elsewhere */
	font-family: sans-serif;
}

table {
	border-collapse: separate;
	border-spacing: 0;
}

.simplePage {
}

.alignChildrenRight {
    align: right !important;
}

.mainPanel {
	border-spacing: 25em 0 25em 0;
	width: 600px;
}

/********************** MENUS **************************************************/

				

/********************** MENUS - NAVIGATION *************************************/
.navigationItem {
	
}

.navigationItem-image {
	width: 16em;
	height: 8em;
	margin: 0.1em;
	padding: 0em;
	border: 0em;
	background-color: light-grey;
}

.navigationSlider {
	width: 600px;
	height: 8em; // should be the same as the navigationItem height.
	overflow: hidden;
	cursor: pointer;
}
.navigaionWidget {
}

/********************** MENUS - HIERARCHY **************************************/

.hierarchyWidget {
	
}
.hierarchyWidget-separator {
	display: inline;
}

/********************** MENUS - TILE ******************************************/

.tile {
	display: inline;
	float: left;
}
.tile-iconOnly {
	display: inline;
	float: left;
}
.tile-detailed {
	display: inline;
	float: none;
}
// This is supposed to be a special decoration only visible when
// the mouse-clicking the tile.
.tile-iconOnly-mouseDown, .tile-detailed-mouseDown {
	border: 1em solid red;
}
.tile-tileImage {
	width: 4em;
	height: 4em;
	margin: 1em 0em 0em 1em;
	padding: 0em;
	border: 0em;
	background-color: grey;
}
.tile-tileDetails {
	margin: 1em;
	padding: 0em;
	border: 0em;
	background-color: white;
}
.tile-tileTitle {
	font-size: 2em;
	margin: 0em;
	padding: 0em;
	border: 0em;
	font-family: monospace;
	color: #110000;
}
.tile-tileDescription {
	margin: 0em;
	padding: 0em;
	border: 0em;
}
.tileMenu {
	font-size: 2.5em;
	width: 100%;
}
.tileMenu-title {
	font-size: 3em;
    font-family: monospace;
    color: #110000;
}
.tileWidget {
	width: 100%;
}

.tileMenu-detailButton {
}
.tileMenu-tileList {
}

/********************** WIDGET - FOOTER *************************************/
.footerWidget {
	font-size: 1em;
	font-family: monospace;
	color: #110000;
}

/********************** WIDGET - TEXT LINK **********************************/
.textLink {
	color: light-blue;
	style: underlined;
	cursor: pointer;
	display: inline;
}

/********************** WIDGET - PAGE ***************************************/

.pageWidget {
	padding: 1em 0em 1em 0em;
	margin: 0;
}
.pageWidget-title {
	font-size: 5em;
    font-family: monospace;
    color: #110000;
}
.pageWidget-header {
	font-size: 4em;
    font-family: monospace;
    color: #444444;
}
.pageWidget-content {
	font-size: 2em;
    font-family: monospace;
    color: #000000;
}