/*
 * Copyright 2012 Sebastien Zurfluh
 * 
 * This file is part of "Parcours".
 * 
 * "Parcours" is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 * 
 * "Parcours" is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 * 
 *  You should have received a copy of the GNU General Public License
 *  along with "Parcours".  If not, see <http://www.gnu.org/licenses/>.
 */


/******************************************************************************/


/********************** GENERAL ***********************************************/

.gwt-PopupPanelGlass {
	background-color: rgba(0, 0, 0, 0.8);
}

.mgwt-Carousel-Indicator {
	width: 8px;
	height: 8px;
	background-color: white;
	border-radius: 4px;
	margin: 4px;
	border: 1px black solid;
}

 .mgwt-Carousel-Indicator-active {
	width: 8px;
	height: 8px;
	background-color: #FF0930;
	border-radius: 4px;
	margin: 4px;
	border: 1px black solid; 
 }
 
/********************** BOOKLET NAVIGATOR **************************************/

.page-logoContainer {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    display: table;
    background-color: black;
}

.page-logoCentered {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}


/********************** MENUS **************************************************/

/********************** MENUS - INFO *******************************************/

.infoPanel {
	
}

.infoPanel-content {
	margin: 1em 1em 1em 2em;
	font-family: monospace;
}

.infoPanel-returnButton {
	border: 2px solid #606060;
	color: black;
	background: rgb(140, 140, 140);
	background: rgba(160, 160, 160, 0.6);
	padding: 0.5em 1em;
	margin: 0.5em 0.2em;
	
	font-weight:bold;
	font-size: 1em;
	
	cursor: pointer;
	
	outline: none;
	
	-moz-border-radius: 	2em 0em 0em 2em;
	-webkit-border-radius: 	2em 0em 0em 2em;
	border-radius: 			2em 0em 0em 2em;
	-khtml-border-radius: 	2em 0em 0em 2em;
	
	-moz-box-shadow:    0px 0px 1px 0px black, inset 0px 0px 35px 1px white;
  	-webkit-box-shadow: 0px 0px 1px 0px black, inset 0px 0px 35px 1px white;
 	 box-shadow:        0px 0px 1px 0px black, inset 0px 0px 35px 1px white;
}

.infoPanel-title {
	border: 2px solid #606060;
	color: black;
	background: white;
	padding: 0.5em 1em;
	margin: 0.5em 0.2em;
	
	font-weight:bold;
	font-size: 1em;
	
	cursor: pointer;
	
	outline: none;
	
	-moz-border-radius: 	0em 0.3em 0.3em 0em;
	-webkit-border-radius: 	0em 0.3em 0.3em 0em;
	border-radius: 			0em 0.3em 0.3em 0em;
	-khtml-border-radius: 	0em 0.3em 0.3em 0em;
	
	-moz-box-shadow:    0px 0px 1px 0px black;
  	-webkit-box-shadow: 0px 0px 1px 0px black;
 	 box-shadow:        0px 0px 1px 0px black;
}

.infoMenuBar-button {
	width: 3em;
	height: 3em;
	padding: 1em;
}

.infoMenuBar {
	width: 100%;
	padding: 1em;
	background: whiteSmoke;
}

.infoMenuBar-title {
	font-size: 2em;
	font-family: titleFont, serif;
}	

/********************** MENUS - NAVIGATION *************************************/
.navigationItem {
	float: left;
}

.navigationItem-image {
	/* CSS3 not working yet */
	object-fit: cover;
	margin: 0.1em;
	padding: 0em;
	border: 0em;
	float: left;
}

.navigationSlider-movingContainer {
	position: absolute;
	width: auto;
	height: auto;
}

.navigationSlider-fixedContainer {
	width: 100%;
}

.navigationSlider {
	width: 100%;
	display: inline-block;
	overflow: hidden;
	background-image: url('resources/images/generic_tiles/super_ruler.jpg');
	background-repeat: no-repeat;
	background-position: top left;
}
.navigationSlider-button-text {
	font-size: 1em;
	margin: 0em;
	padding: 0em;
	color: white;
	text-shadow: black 0em 0em 0.3em;
}
.navigationSlider-button-inner { 
	margin: 0em;
	padding: 0.1em;
	background-color: #121212;
	border-radius: 0.5em;
}
.navigationSlider-button-outer {
	margin: 0em;
	padding: 0.1em;
	border-radius: 0.5em;
	/* Fallback for web browsers that doesn't support RGBa */
	background: rgb(156, 156, 156);
	/* RGBa with 0.6 opacity */
	background: rgba(156, 156, 156, 0.6);
	-moz-box-shadow:    0px 0px 0px 6px #ccc;
  	-webkit-box-shadow: 0px 0px 0px 6px #ccc;
 	 box-shadow:        0px 0px 0px 6px #ccc;
}
.navigationWidget {
	width: 100%;
	height: 200px;
}